@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 100 900;
	src: url('../lib/assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
	font-display: swap;
}


@font-face {
	font-family: 'HarmonyOS Sans SC';
	font-style: normal;
	font-weight: 100;
	src:
		url('../lib/assets/fonts/HarmonyOS_Sans_SC/HarmonyOSSansSC-Thin.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'HarmonyOS Sans SC';
	font-style: normal;
	font-weight: 300;
	src:
		url('../lib/assets/fonts/HarmonyOS_Sans_SC/HarmonyOSSansSC-Light.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'HarmonyOS Sans SC';
	font-style: normal;
	font-weight: 400;
	src:
		url('../lib/assets/fonts/HarmonyOS_Sans_SC/HarmonyOSSansSC-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'HarmonyOS Sans SC';
	font-style: normal;
	font-weight: 500;
	src:
		url('../lib/assets/fonts/HarmonyOS_Sans_SC/HarmonyOSSansSC-Medium.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'HarmonyOS Sans SC';
	font-style: normal;
	font-weight: 700;
	src:
		url('../lib/assets/fonts/HarmonyOS_Sans_SC/HarmonyOSSansSC-Bold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'LXGW Bright';
	font-style: normal;
	font-weight: 300;
	src:
		url('../lib/assets/fonts/LXGW_Bright/LXGWBright-Light.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'LXGW Bright';
	font-style: normal;
	font-weight: 400;
	src:
		url('../lib/assets/fonts/LXGW_Bright/LXGWBright-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'LXGW Bright';
	font-style: normal;
	font-weight: 500;
	src:
		url('../lib/assets/fonts/LXGW_Bright/LXGWBright-Medium.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'LXGW Bright';
	font-style: italic;
	font-weight: 300;
	src:
		url('../lib/assets/fonts/LXGW_Bright/LXGWBright-LightItalic.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'LXGW Bright';
	font-style: italic;
	font-weight: 400;
	src:
		url('../lib/assets/fonts/LXGW_Bright/LXGWBright-Italic.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'LXGW Bright';
	font-style: italic;
	font-weight: 500;
	src:
		url('../lib/assets/fonts/LXGW_Bright/LXGWBright-MediumItalic.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 100 900;
	src:
		url('../lib/assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
	font-display: swap;
}